@tailwind base;
@tailwind components;
@tailwind utilities;
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 10px;
  background: red;
  transform-origin: 0%;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fef2f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea546c;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d5294d;
}
